<%= form_for(@todo, remote: true, class: "new_todo") do |f| %>
  <% if @todo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@todo.errors.count, "error") %> prohibited this todo from being saved:</h2>

      <ul>
      <% @todo.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "Due:" %>
    <!--<%= f.date_select :due %>-->
    <%= f.text_field :due, class: "edit_due_field" %>
  </div>
  <div class="field">
    <%= f.label "Task:" %>
    <%= f.text_field :task %>
  </div>
  <!-- <div class="field">
    <%= f.label :generate %><br />
    <%= f.text_field :generate %>
  </div>
  <div class="field">
    <%= f.label :scaffold %><br />
    <%= f.text_field :scaffold %>
  </div>
  <div class="field">
    <%= f.label :calender_todo %><br />
    <%= f.text_field :calender_todo %>
  </div> -->
  <div class="actions">
    <%= f.submit 'OK', class: "btn btn-large btn-primary todo_new_ok"  %>
    <a class="btn btn-large todo_new_cancel">Cancel</a>
  </div>
<% end %>
