 <h1>ToDoリスト-5月-</h1>
<!-- 
<table>
  <thead>
    <tr>
      <th>Due</th>
      <th>Task</th>
      <th>Generate</th>
      <th>Scaffold</th>
      <th>Calender todo</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @todos.each do |todo| %>
    <tr>
      <td><%= todo.due %></td>
      <td><%= todo.task %></td>
      <td><%= todo.generate %></td>
      <td><%= todo.scaffold %></td>
      <td><%= todo.calender_todo %></td>
      <td><%= link_to 'Show', todo %></td>
      <td><%= link_to 'Edit', edit_todo_path(todo) %></td>
      <td><%= link_to 'Destroy', todo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>  -->

<br />



<table id="calender_table" class="table table-bordered">
  <thead>
    <tr>
      <th>SUN</th>
      <th>MON</th>
      <th>TUE</th>
      <th>WEN</th>
      <th>THU</th>
      <th>FRI</th>
      <th>SAT</th>
    </tr>
  </thead>

  <tbody>
    <tr class="calender_row">
    <% Date.new(2013, 5, -1).day.times do |n| %>
      <!--1日の場合のみ、空白を挿入する処理を行う-->
      <% if Date.new(2013, 5, n+1).day == 1 %>
        <% Date.new(2013, 5, n+1).wday.times do %>
          <td></td>
        <% end %>
      <% end %>

      

      <!--日曜日なら折り返す-->
      <% if Date.new(2013, 5, n+1).wday == 0 %>
        </tr>
        <tr class="calender_row">
      <% end %>
      
      <!--日付・タスクの挿入-->
      <td class="day_area droppable ui-state-default" id="<%= "day_area_#{n+1}" %>">
        <div clss="day_label"><%= n + 1%></div>
        <br />
        <% if get_todo Date.new(2013, 5, n+1) %>
          <% get_todo(Date.new(2013, 5, n+1)).each do |todo| %>
            <div class="day_task draggable" id="<%= todo.id %>">
              <%= todo.task %>
            </div>
          <% end %>
        <% end %>
      </td>

      <!--最後の日付の場合のみ、最後の空白を埋める-->
      <% if n+1 == Date.new(2013, 5, -1).day %>
        <% (6 - Date.new(2013, 5, -1).wday).times do %>
          <td class=""></td>
        <% end %>
      <% end %>
      
    <% end %>
    </tr>
  </tbody>
</table>

<!--Ajaxのためのダミーリンク：新規作成画面表示-->
<%= link_to '', new_todo_path, remote: true, class: "new_todo_show", title: "" %>




<%= hidden_field :click_date, :tmp %>
<%= hidden_field :click_task, :tmp, value: "" %>
<%= hidden_field :click_id, :tmp, value: "" %>

<div class="modal hide fade" id="todo_edit_modal">
  <div class="modal-header">
    <h3>ToDo</h3>
  </div>
  <div class="modal-body">
    
  </div>  
</div>


<div class="modal hide fade" id="todo_update_modal">
  <div class="modal-header">
    <h3>ToDo</h3>
  </div>
  <div class="modal-body-update">
    
  </div>  
</div>



<!-- <div class="container">

  <tbody>
    <div class="row">
    <% Date.new(2013, 5, -1).day.times do |n| %>
      
      <% if Date.new(2013, 5, n+1).day == 1 %>
        <% Date.new(2013, 5, n+1).wday.times do %>
          <div class="span1"></div>
        <% end %>
      <% end %>
      
      <% if Date.new(2013, 5, n+1).wday == 0 %>
        </div>
        <div class="row">
      <% end %>
      <div class="span1"><%= n + 1%></div>
      
    <% end %>
    </div>
  </tbody>
</table> -->

<!--<%= link_to 'New Todo', new_todo_path %>-->


<script type="text/javascript">
  
  var dragOptions={
    opacity : '0.5',
    //helper  : 'clone',
    //revert  : true 
  }

  $(".draggable").draggable(dragOptions);
  $(".droppable").droppable();

  //モーダルの表示(既存のToDo)
  $(document).on("click", ".day_task", function(event){
    event.stopPropagation();
    //console.log("%%%");
    var day_area_id = $(this).attr("id");
    //クリックされた日付・タスクを記憶
    $("#click_date_tmp").val(day_area_id.replace("day_area_",""));
    $("#click_task_tmp").val($("#" + day_area_id).innerText);
    $("#click_id_tmp").val($(this).attr("id"));

    $("#todo_update_modal").modal("show");
    
  });


  $("#todo_update_modal").on('show', function(){
    $.get(
      "todos/" + $("#click_id_tmp").val() + "/edit",
      function(data){
        $(".modal-body-update").html(data);
      });
  });


  $(document).on("ajax:success", "form.edit_todo", function(data, status, xhr){
    var id = $("#click_id_tmp").val();


    $("#todo_update_modal").modal("hide");
    console.log("#day_area_" + status.due);
    $("#" + status.id).remove();
    $("#day_area_" + status.due).append(
      '<div class="day_task draggable" id="' + status.id + '">' + status.task + "</div>"
      );

    $(".draggable").draggable(dragOptions);

  });




//++++++++++++++++++++++++


  //モーダルの表示(新しいToDo)
  $(document).on("click", ".day_area", function(event){
    //event.stopPropagation();
    //console.log("$$$");
    var day_area_id = $(this).attr("id");
    //クリックされた日付を記憶
    $("#click_date_tmp").val(day_area_id.replace("day_area_",""));
    
    $("#todo_edit_modal").modal("show");
  });

  //モーダルの非表示
  $(document).on('click', 'a.todo_new_cancel', function(event){
    $("#todo_edit_modal").modal("hide");
  });

  //モーダルが表示されたときに、ダミーリンクでAjax開始
  $("#todo_edit_modal").on('show', function(){
    //var clicked_task = $("#click_task_tmp").val();
    $(".new_todo_show").trigger('click');

    
  });

  //ToDo新規作成をモーダルに表示するイベントハンドラ
  $('.new_todo_show').on('ajax:success', function(data, status, xhr){
    //クリックされた日付の取得
    var clicked_day = $("#click_date_tmp").val();
    $(".modal-body").html(status);
    $(".edit_due_field").val("2013-05-" + clicked_day);
  });

  //Ajax成功時の、タスクの追加
  $(document).on('ajax:success', "form.new_todo", function(data, status, xhr){
    $("#todo_edit_modal").modal("hide");

    var calender_day = status.due;
    $("#day_area_" + calender_day).append('<div class="day_task draggable" id="' + status.id + '" >' + status.task + "</div>");

    $(".draggable").draggable(dragOptions);
  });


  

 

  //D&Dされた場所にToDoを移動する。ui:ドラッグしていた要素、event:ドロップされた要素
  $(".droppable").on("drop", function(event, ui){
    var dropped_day = event.currentTarget.id.replace("day_area_", "");

    $("#" + event.currentTarget.id).append('<div class="day_task draggable" id="' + ui.draggable.context.id + '">' + ui.draggable.context.innerText + "</div>");

    //dropstopイベントで削除されないように、フラグを設定する
    $("#" + ui.draggable.context.id).addClass("no_dropout_delete");

    //更新をRailsにリクエストする
    $.ajax({
      type: "PATCH",
      url: "todos/" + ui.draggable.context.id,
      data: "due=2013-05-" + dropped_day + "&task=" + ui.draggable.context.innerText
    });
    
    //ドラッグ元アイテムを消す
    ui.draggable.context.remove();

    //新しく作られた.draggableのために、もう一度実行
    $(".draggable").draggable(dragOptions);

  });

  //ToDoを削除するためのイベントハンドラ
  $(document).on("dragstop", ".draggable", function(event, ui){
    console.log(ui);
    console.log(event);

    if(!$(this).hasClass("no_dropout_delete"))
    {
      $(this).remove();
      $.ajax({
        type: "DELETE",
        url: "todos/" + ui.helper.attr("id")
      });
      console.log(ui.helper.attr("id"));
    }else{
      $(this).removeClass("no_dropout_delete");
    }
  });




  

</script>
